<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bus.server.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bus.server.pojo.SysMenu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="menu_type" property="menuType" />
        <result column="sort" property="sort" />
        <result column="parent_id" property="parentId" />
        <result column="path" property="path" />
        <result column="icon" property="icon" />
        <result column="component" property="component" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <resultMap id="menus" type="com.bus.server.pojo.SysMenu" extends="BaseResultMap">
        <collection property="children" ofType="com.bus.server.pojo.SysMenu">
            <id column="id2" property="id" />
            <result column="name2" property="name" />
            <result column="permission2" property="permission" />
            <result column="menu_type2" property="menuType" />
            <result column="sort2" property="sort" />
            <result column="parent_id2" property="parentId" />
            <result column="path2" property="path" />
            <result column="icon2" property="icon" />
            <result column="component2" property="component" />
            <result column="status2" property="status" />
            <result column="creator2" property="creator" />
            <result column="create_time2" property="createTime" />
            <result column="updater2" property="updater" />
            <result column="update_time2" property="updateTime" />
            <result column="deleted2" property="deleted" />
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, permission, menu_type, sort, parent_id, path, icon, component, status, creator, create_time, updater, update_time, deleted
    </sql>
    <!-- 根据id查询menu -->
    <select id="getMenusById" resultMap="menus">
        SELECT
                DISTINCT
                m1.*,
                m2.id as id2,
                m2.name as name2,
                m2.permission as permission2,
                m2.menu_type as menu_type2,
                m2.sort as sort2,
                m2.parent_id as parent_id2,
                m2.path as path2,
                m2.icon as icon2,
                m2.component as component2,
                m2.status as status2,
                m2.creator as creator2,
                m2.create_time as create_time2,
                m2.updater as updater2,
                m2.update_time as update_time2,
                m2.deleted as deleted2
        FROM
                sys_menu m1,
                sys_menu m2,
                sys_user_role ur,
                sys_role_menu rm
        WHERE
                m1.id = m2.parent_id
          AND
                m1.id=ur.id
          AND
                ur.id=rm.id
          AND
                ur.user_id=#{id}
          AND
                m2.status=0
        ORDER BY
                m2.id
    </select>

    <select id="getMenusByRole" resultMap="BaseResultMap">
    </select>
</mapper>
